<div class="container">
    <h1>Bienvenue sur AgriVox</h1>
    <p>Votre assistant vocal agricole pour des informations en temps réel.</p>
    
    <div class="cards">
      <mat-card routerLink="/market-prices">
        <mat-card-title>📊 Prix du Marché</mat-card-title>
        <mat-card-content>Consultez les prix actuels des produits agricoles.</mat-card-content>
      </mat-card>
  
      <mat-card routerLink="/weather">
        <mat-card-title>🌦 Météo Agricole</mat-card-title>
        <mat-card-content>Obtenez les prévisions météo pour vos cultures.</mat-card-content>
      </mat-card>

      <mat-card routerLink="/chatbot">
        <mat-card-title>💬🤖 Chatbot</mat-card-title>
        <mat-card-content>Démarrer une nouvelle conversation.</mat-card-content>
      </mat-card>
    </div>
  </div>
  